@model OysterCard.Core.DTO.OysterDTO

<div class="card shadow-sm">
    <img class="card-img-top card-icon mx-auto mt-2" src="~/res/img/oystericon.png" alt="Oyster">
    <div class="card-body">
        <h5 class="card-title text-center">@Model.Forename @Model.Surname</h5>
        <p class="card-text text-center">
            @Model.Address, @Model.City, @Model.PostCode
        </p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Cras justo odio</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>