@using OysterCard.Core.Enums
@model OysterCard.Core.DTO.OysterDTO

<div class="col-md-4 col-xs-6 my-3">
    <div class="card shadow-sm">
        <img class="card-img-top" src="~/res/img/oystericon.png" alt="Oyster">
        <div class="card-body">
            <h5 class="card-title text-center">@Model.Forename @Model.Surname</h5>
            <p class="card-text text-center">@Model.Address, @Model.City, @Model.PostCode</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Born on @Model.DateOfBirth.ToLongDateString()</li>
            <li class="list-group-item">@Model.OysterType Oyster</li>
            <li class="list-group-item">£@Model.Rate per journey</li>
        </ul>
        <div class="card-body">
            @if (Model.OysterState == OysterState.InReview)
            {
                <p>
                    <span class="badge badge-info">In review</span>
                </p>
            }
            else if (Model.OysterState == OysterState.Withdrawn)
            {
                <p>
                    <span class="badge badge-dark">Withdrawn</span>
                </p>
            }
            else if (Model.OysterState == OysterState.Declined)
            {
                <p>
                    <span class="badge badge-danger">Declined</span>
                </p>
            }
            <p class="card-text"><small class="text-muted">Applied on @Model.EntityCreated.ToLongDateString()</small></p>
            @if (Model.OysterState == OysterState.InReview)
            {
                <a href="#">Withdraw application</a>
            }
        </div>
    </div>
</div>