@using OysterCard.Core.Enums
@model OysterCard.Core.ViewModels.OysterApplicationVM

@{
    ViewData["Title"] = "Apply for an Oyster";
}

<breadcrumb></breadcrumb>
<hr />
<h1>@ViewData["Title"]</h1>
<br />
<p>
    An Oyster is a smart card that allows you to pay for public transport.
    You can use it to pay as you go to travel on bus, Tube, tram, DLR, London Overground, TfL Rail, Emirates Air Line and River Bus.
    You can also travel on most National Rail services in London and some outside London.
</p>
<div class="card shadow-sm" align="justify" style="max-width: 375px">
    <div class="card-img-trim" style="background-color: #2fa0f0"></div>
    <div class="card-body">
        <div class="card-title">
            All fields are required.
        </div>
        <hr />
        <form id="oyster-application" asp-controller="Oysters" asp-action="ApplyForOyster" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Forename"></label>
                <input asp-for="@Model.Forename" class="form-control" />
                <span asp-validation-for="@Model.Forename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Surname"></label>
                <input asp-for="@Model.Surname" class="form-control" />
                <span asp-validation-for="@Model.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.DateOfBirth"></label>
                <input asp-for="@Model.DateOfBirth" class="form-control" />
                <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Address"></label>
                <input asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="@Model.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.City"></label>
                <input asp-for="@Model.City" class="form-control" />
                <span asp-validation-for="@Model.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PostCode"></label>
                <input asp-for="@Model.PostCode" class="form-control" />
                <span asp-validation-for="@Model.PostCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit application</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}